################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/XUnit/XunitFrameworkDemo/.vs
/XUnit/XunitFrameworkDemo/XunitFrameworkDemo/obj
/XUnit/XunitFrameworkDemo/Tests/obj
/XUnit/XunitFrameworkDemo/IntroToXunit/obj
/.gitignore
/XUnit/XunitFrameworkDemo/IntroToXunit/bin/Debug/net8.0
/XUnit/XunitFrameworkDemo/Tests/bin/Debug/net8.0
/XUnit/XunitFrameworkDemo/IntroToFactoryDesign/bin/Debug/net8.0
/XUnit/XunitFrameworkDemo/IntroToFactoryDesign/obj
/XUnit/XunitFrameworkDemo/Calculator/bin/Debug/net8.0
/XUnit/XunitFrameworkDemo/Calculator/obj
/XUnit/XunitFrameworkDemo/IntroToReflection/bin/Debug/net8.0
/XUnit/XunitFrameworkDemo/IntroToReflection/obj
/XUnit/XunitFrameworkDemo/IntroToBlobStorage/obj
