################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/XUnit/XunitFrameworkDemo/.vs
/XUnit/XunitFrameworkDemo/XunitFrameworkDemo/obj
